body{
    margin:0;
    background:#eceff3;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    max-width:430px;
    margin:15px auto;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 18px rgba(0,0,0,.18);
    padding:18px;
}


.encabezado{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:8px;
}

.logo{
    width:45px;
    height:45px;
    object-fit:contain;
    flex-shrink:0;
}

h2{
    flex:1;
    margin:0;
    margin-right:35px;
    text-align:center;
    font-size:20px;
    font-weight:600;
    color:#204691;
}

#reader{
    width:280px !important;
    margin:0 auto 12px auto;
    border:none !important;
    transition:opacity .25s ease;
}

#reader video,
#reader canvas{
    width:100% !important;
    height:auto !important;
    border-radius:12px;
}

#reader__dashboard{
    display:none !important;
}


#resultado{
    margin-top:5px;
    padding:18px;
    border-radius:10px;
    background:#f8f9fb;
}

#resultado h3{
    margin:0 0 10px 0;
}

#resultado p{
    margin:8px 0;
    line-height:1.35;
}

#resultado b{
    color:#204691;
}



#barcodeSKU{
    display:block;
    margin:15px auto;
}


.espera{
    text-align:center;
    color:#777;
    margin:20px 0;
}

.btn-limpiar{
    width:100%;
    padding:11px;
    margin-bottom:8px;

    background:#204691;
    color:white;

    border:none;
    border-radius:8px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:background .2s;
}

.btn-limpiar:hover{
    background:#17366f;
}

.btn-limpiar:active{
    transform:scale(.98);
}
