body{

    margin:0;
    background:#eceff3;
    font-family:Arial, Helvetica, sans-serif;

}

.container{

    max-width:430px;

    margin:20px auto;

    background:white;

    border-radius:15px;

    box-shadow:0 5px 18px rgba(0,0,0,.18);

    padding:18px;

}

.encabezado{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:10px;

}

.logo{
    width:35px;
    height:35px;
    object-fit:contain;
    flex-shrink:0;
}

h2{

    color:#204691;

    margin:0;

}

#reader{

    width:100%;

    max-width:320px;

    margin:10px auto 15px auto;

}

#reader video{

    border-radius:10px;

}

#resultado{

    margin-top:10px;

    padding:18px;

    border-radius:10px;

    background:#f8f9fb;

}

#resultado p{

    margin:8px 0;

}

#resultado b{

    color:#204691;

}

#barcodeSKU{

    display:block;

    margin:15px auto;

}

.espera{

    text-align:center;

    color:#777;

}
