body{

    margin:0;
    background:#eceff3;
    font-family:Arial, Helvetica, sans-serif;

}

.container{

    max-width:430px;

    margin:20px auto;

    background:white;

    border-radius:15px;

    box-shadow:0 5px 18px rgba(0,0,0,.18);

    padding:18px;

}

.encabezado{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:10px;

}

.logo{
    width:35px;
    height:35px;
    object-fit:contain;
    flex-shrink:0;
}

h2{

    color:#204691;

    margin:0;

}

#reader{
    width:280px !important;
    margin:0 auto 15px auto;
    border:none !important;
}

#reader video,
#reader canvas{
    max-width:280px !important;
    max-height:180px !important;
    border-radius:10px;
}

#resultado{

    margin-top:10px;

    padding:18px;

    border-radius:10px;

    background:#f8f9fb;

}

#resultado p{

    margin:8px 0;

}

#resultado b{

    color:#204691;

}

#barcodeSKU{

    display:block;

    margin:15px auto;

}

.espera{

    text-align:center;

    color:#777;

}

#reader__dashboard{
    display:none !important;
}

#reader{
    border:none !important;
}

#reader video,
#reader canvas{
    width:100% !important;
    height:auto !important;
    border-radius:12px;

}
